/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root {
    --clr-primary-400: #3882F6;
    --clr-primary-700: #1F2937;

    --clr-neutral-100: #F9FAF8;
    --clr-neutral-400: #E5E7EB;
    
    
    --ff-primary: sans-serif, serif;

    --fw-regular: 500;
    --fw-bold: 800;

    --fs-400: 1.125rem;
    --fs-700: 2.25rem;
    --fs-900: 3rem;

  }

  body{
      font-family: var(--ff-primary);
      font-size: var(--fs-400);
      font-weight: var(--fw-regular);
      color: var(--clr-primary-700);
      
      
      
  }

  .header, .body-one, footer {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-700) ;
  }

  .header, .body-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 20%;
  }

  .header ul {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
    list-style: none;
  }

.body-two {
  text-align: center;
}



  .illustration-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0 20%;
  }
  
  .illustration img {
    border-radius: 0.5rem;
    border: 1px solid var(--clr-primary-400)
  }

.body-three {
  background-color: var(--clr-neutral-400);
  padding: 0 20%;
}

.quote {
  padding: 3rem;
}

.author {
  font-weight: var(--fw-bold);
  text-align: end;
}

.body-four {
  padding: 3rem 25%;
}

.body-four__content {
  display: flex;
  background-color: var(--clr-primary-400);
  border-radius: .5rem;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  color: var(--clr-neutral-100);
}
 .button {
  background-color: var(--clr-primary-400);
  border: 1px solid var(--clr-neutral-100);
  border-radius: .5rem;
  width: 6rem;
  color: var(--clr-neutral-100);
 }

 footer {
  text-align: center;
 }

  /*.header{
    background-color: var(--clr-primary-400);
    display: grid;
    place-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    }


  @media (min-width: 500px) {
  .header{
    background-color: var(--clr-primary-400);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    }
  }
  .list ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 0.5rem;
    justify-content: center;
  }